*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: -apple-system, system-ui, BlinkMacSystemFont;
}
nav{
    background-color:rgba(0, 0, 0, 0.8);
    display: flex;
    padding: 1px;
    justify-content: space-evenly;
    align-items: center;
    height: 50px;
    flex-wrap: wrap;
}
nav>ul{
    display: flex;
    flex-wrap: wrap;
}
nav>ul>li{
    margin-inline: 20px;
    list-style-type: none;
}
nav>ul>li>a{
    text-decoration: none;
    color: white;
}
nav>img{
    margin-inline: 2px;
}
.subnavbar>ul{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    font:SF Pro Text;
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    
}
.subnavbar>ul>li{
    list-style-type: none; 
}
.subnavbar>ul>li>p:nth-child(3){
    color:
    rgba(191, 72, 0, 1);
    font-size: 10px;
}
.text{
    display: flex;
    font:SF Pro Text;
    font-weight: 400;
    align-items: center;
    justify-content: space-around;
    padding-top: 150px;
    flex-direction: column;
    font-size: 21px;

}
.text>p:nth-child(1){
    color:rgba(110, 110, 115, 1);
    
}
.text>p:nth-last-child(3){
    font-size: 48px;
    font-weight: 700;
    background: linear-gradient(90deg, #2CA2B4 0%, #5598DE 24%, #7F87FF 45%, #F65AAD 76%, #EC3D43 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}
.Buylearn{
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: rgba(0, 113, 227, 1);
    width: 230px;
    
}
.upperbox{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 21px;
    flex-wrap: wrap;
}
.Buylearn>a>button{
    border-radius: 50%;
    width: 60px;
    height: 36px;
    background-color: rgba(0, 113, 227, 1);
    color: white;
    text-align: center;
    font-size: 17px;
}
.landing-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}
.Buylearn>p>a{
    text-decoration: none;
}
.landing-2{
 background-color:rgba(0, 0, 0, 1);
 display: flex;
 align-items: center;
 flex-wrap: wrap;
 color: white;
 flex-direction: column;
 flex-wrap: wrap;
}
.text-2{
    display: flex;
    font:SF Pro Text;
    font-weight: 400;
    align-items: center;
    justify-content: space-around;
    padding-top: 150px;
    flex-direction: column;
    font-size: 21px;
}
.text-2>p:nth-child(1){
    color:rgba(110, 110, 115, 1);
}
.text-2>p:nth-last-child(3){
    font-size: 48px;
    font-weight: 700;
    background: linear-gradient(180deg, #FFB6FF 0%, #B344FF 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}
.landing-3{
    height: 830px;
    background-color: white;
}
.outter{
    display: flex;
    padding-top: 10px;
    justify-content: space-around;
    
}
.text-3{
    display: flex;
    height: 265px;
    flex-direction: column;
    align-items: center;
    font-size: 21px;
}
.text-3>p:nth-child(2){
    font-size: 48px;
    font-weight: 700;
    background-size: 100%;
    background: linear-gradient(90deg, #1E3791 0%, #2948B1 40%, #3153C6 55%, #385FDA 60%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}
.text-3>p:nth-child(3){
    font-size: 48px;
    font-weight: 700;
    background-size: 100%;
    background: linear-gradient(90deg, #1E3791 0%, #2948B1 40%, #3153C6 55%, #385FDA 60%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}
.sidebox{
    display: flex;
    align-items: center;
}
.landing-4{
    display: flex;
    
}
.backgroundimage{
    width: 95vw;
    height: 813px;
    margin: auto;
    display: flex;
    background-image: url(Assets/TourGuide.svg);
}
.text-4{
    display: flex;
    width: 400px;
    margin-left: 40px;
    font-family: SF Pro Display;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.2160000056028366px;
    color: rgba(255, 255, 255, 1);
    flex-direction: column;
    text-align: center;
    align-items: last baseline;

}
.iphonetext{
    font-size: 48px;

}
.sidebox2{
    display: flex;
    align-items: center;
}
.text-4>div>button{
    height: 36px;
    width: 142px;
    border-radius: 980px;
    font-size: 17px;
}


